.hero
  min-height: 100vh
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center
  padding: 4rem 1rem
  &__logo
    height: 13rem
    @include respond(tab-port)
      height: 10rem
  &__title
    font-size: 9.5rem
    color: white
    margin: 2rem auto 0rem auto
    line-height: 1.2
    @include respond(tab-port)
      font-size: 5rem
  &__text
    color: $color-text-alt
    font-size: 3rem
    font-weight: 500
    @include respond(tab-port)
      font-size: 2rem
    &__alt
      color: $color-text-alt
      font-size: 2.2rem
      margin-top: 1rem
      @include respond(tab-port)
        font-size: 1.5rem
  &__button-container
    margin: 2rem
    display: grid
    grid-template-columns: 1fr 1fr
    align-items: center
    @include respond(tab-port)
      grid-template-columns: 1fr
  &__button
    text-decoration: none
    font-size: 2rem
    font-weight: 600
    padding: 1.5rem 3.3rem
    background-color: rgb(41, 43, 63)
    border-radius: 5rem
    margin: 1rem 2rem
    transition: all .2s
    text-transform: uppercase
    color: white
    &:hover
      background-color: lighten($color-bg, 5%)
    &.not-allowed
      cursor: not-allowed
  &__bg
    width: 100%
    position: absolute
    top: 51%
    left: 55%
    transform: translate(-50%, -50%)
    height: 1100px
    z-index: -1
    @include respond(tab-port)
        filter: blur(3px);
        width: 110%;
        top: 51%;
        left: 46%;
