@mixin respond($breakpoint)
  @if $breakpoint == phone
    @media (max-width: 37.5em)
      @content

  @if $breakpoint == tab-port
    @media (max-width: 56.25em)
      @content

  @if $breakpoint == tab-land
    @media (max-width: 75em)
      @content

  @if $breakpoint == mission
    @media (max-width: 99em)
      @content

  @if $breakpoint == big-desktop
    @media (min-width: 112.5em)
      @content
*,
*::after,
*::before
    margin: 0
    padding: 0
    box-sizing: inherit

html
    font-family: 'Varela Round', sans-serif
    font-size: 62.5% // 1rem = 10px
    overflow-x: hidden
    @include respond(tab-land)
      font-size: 56.25%
    @include respond(tab-port)
      font-size: 50%

$color-bg: #1C1921
$color-bg-alt: #312D38
$color-text-orange: #EBA471
$color-text-alt: rgba(252, 249, 255, 0.7)

$font-stack-alt: 'Space Mono', monospace
$font-stack: 'Varela Round', sans-serif


@import "components/hero"
@import "components/mission"
@import "components/cta"
@import "components/highlights"
