.application
  text-align: center
  &__logo
    height: 12rem
    margin-right: 3rem
    position: absolute
    cursor: pointer
    top: 30px
    left: calc(50% - 59px)
    @include respond(tab-land)
      top: 25px
      height: 10rem
  &__title
    font-size: 9.5rem
    margin-top: 18rem
    color: white
    cursor: default
    @include respond(tab-land)
      margin-top: 15rem
      font-size: 7.5rem
  &__select
    text-align: center
    position: relative
    margin: 10rem 0 8rem 0
    @include respond(tab-port)
      margin-top: 6rem
    &__title
      display: block
      color: white
      font-size: 4rem
      margin: 2rem
