.form-container
    max-width: 960px
    margin: auto
    min-height: 175vh
    &__text
        font-size: 3rem
        color: $color-text-alt
        padding: 0 2rem
        text-align: justify
        span
            display: block
            margin: 2rem auto
    &__title
        color: $color-text-orange
        font-size: 5rem
        text-transform: uppercase
        letter-spacing: 3px
        font-weight: normal
        padding: 5rem 1rem 3rem 1rem

.form
    &__text
        color: $color-text-alt
        font-size: 2rem
        margin: 1rem        
        text-align: justify
        cursor: default
        a
            color: $color-text-orange
    &__submit
        padding: 2rem 4rem
        border: none
        outline: none
        background-color: $color-bg-alt
        font-size: 3rem
        color: white
        border-radius: 3rem
        margin: 1rem auto 10rem auto
        cursor: pointer
        transition: all .2s
        &:hover
            font-size: 3.5rem
    &__group
        &:not(:first-child)
            margin-top: 5rem
        position: relative
        width: max-content
        margin: 1rem auto
        color: $color-text-alt
        font-size: 3rem
        letter-spacing: 1px
        padding-top: 3rem
        &__label
            position: absolute
            top: 5px   
            left: 0
            font-size: 2rem      
            transition: all .15s   
            &.inactive
                transform: translateY(35px)
        &__input
            padding: 1rem 0
            min-width: 45rem
            background-color: transparent
            border: none
            outline: none
            color: white
            border-bottom: 1.5px solid $color-bg-alt
            @include respond(tab-port)
                min-width: 30rem
            &:focus
                border-bottom: 1.5px solid $color-text-orange
        &__textarea
            min-width: 45rem
            background-color: transparent
            outline: none
            border: none
            color: white
            resize: vertical
            margin-bottom: 3rem

.gender, .race, .graduation, .hackathon, .shirt, .skill, .availability, .club
    display: flex
    justify-content: space-between
    align-items: center
    margin: 10rem auto 4rem auto
    color: white
    @include respond(tab-port)
        flex-direction: column            
    &__title
        font-size: 4rem
        font-weight: normal
        margin-bottom: 2rem
        margin-right: 2rem
        text-align: left
        @include respond(tab-port)
            text-align: center
    .graduation__title
        margin-right: 0
    &__select
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center
        &__option
            font-size: 3rem
            padding: 3rem 4rem
            background-color: $color-bg-alt
            border-radius: 3rem
            margin: 1rem
            flex: 1
            cursor: pointer
            transition: background-color .2s
            &:hover
                background-color: white
                color: $color-bg-alt
            &.active
                background: white
                color: $color-bg-alt
        .race__select__option,
            padding: 3rem 2rem
        .hackathon__select__option
            white-space: nowrap
        .graduation__select__option
            flex: 0
    .shirt__select
        flex-wrap: nowrap
        flex: 1
        @include respond(tab-port)
            flex-wrap: wrap
.checkbox
    height: 3rem
    width: 3rem
    border: 3px solid $color-text-orange
    border-radius: 50%
    position: relative
    overflow: hidden
    .check
        position: absolute
        top: 50%
        left: 50% 
        transform: translate(-50%, -50%)
        background-color: $color-text-orange
        height: 2rem
        width: 2rem
        border-radius: 50%