.form
    max-width: 960px
    background-color: $color-bg-alt
    border-radius: 3rem
    margin: auto
    min-height: 75vh
    .hacker__form
        display: grid
        grid-template-columns: 1fr 1fr
        justify-items: center
    &__title
        color: $color-text-orange
        font-size: 5rem
        text-transform: uppercase
        letter-spacing: 3px
        font-weight: normal
        padding: 5rem 1rem 3rem 1rem
    &__input
        color: white
        outline: none
        width: 80%
        padding: 1rem 2rem
        border: none
        margin: 2rem
        background-color: transparent
        border-bottom: 2px solid white
        border-radius: 5px
        margin: 2rem auto
        font-size: 3rem
        transition: all .2s
        &::placeholder
            letter-spacing: 2px
            color: darken(white, 15%)
        &:focus
            border-bottom: 2px solid $color-text-orange