.cta-container
  padding: 6rem 14% 10rem 14%
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center
  @include respond(tab-port)
    padding: 5rem
  @include respond(phone)
    padding: 2rem

.cta
  width: 25%
  height: 39rem
  margin: 2rem 1rem
  padding: 4rem 3rem 2rem
  border-radius: 20px
  background: $color-bg-alt
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  &__title
    font-size: 3.2rem
    font-weight: 600
    color: white
    margin: 5rem 0 1rem
  &__text
    font-size: 2.75rem
    color: white
